{% extends 'main.twig' %}

{% block link %}

    <link rel="stylesheet" type="text/css" href="../css/starter-temp.css">

{% endblock link %}

{% block content %}

    <div class="container pt-5">
      <form>
        <div class="form-group row justify-content-center">
          <div class="col-6">
            <label for="name" class="row justify-content-center">Name</label>
            <input type="name" class="form-control" id="name" aria-describedby="name" placeholder="Full Name">
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-6">
            <label for="exampleInputEmail1" class="row justify-content-center">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-6">
            <label for="username" class="row justify-content-center">Username</label>
            <input type="username" class="form-control" id="exampleInputEmail1" aria-describedby="username" placeholder="Enter Username">
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-6">
            <label for="password" class="row justify-content-center">Enter Password</label>
            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Password">
          </div>
        </div>
        <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary justify-content-center">Submit</button>
        </div>
          
    </form>

      

    </div><!-- /.container -->
    
{% endblock content %}
    

    